/* css/style.css */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
}
.tab-button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: none;
  background: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.tab-button:hover {
  border-color: #34d399; /* green-400 */
}

.active-tab {
  border-color: #059669; /* green-600 */
  color: #059669;
}
